<h1>Dépenses</h1>
<div class="header">
  <p><button class="btn btn-success add-depense-button" (click)="creerDepense()">Ajouter une dépense</button></p>
</div>
<form>
  <div class="form-row row">
    <div class="form-group col-md-3">
      <input class="form-control" [(ngModel)]="recherche.libelle" name="libelle" placeholder="Libelle" (ngModelChange)="rechercherDepenses()">
    </div>
    <div class="form-group col-md-3">
      <input class="form-control" [(ngModel)]="recherche.date" name="date" placeholder="Date" (ngModelChange)="rechercherDepenses()" type="date">
    </div>
    <div class="form-group col-md-3">
     <input type="number" class="form-control" [(ngModel)]="recherche.depense" name="depense" placeholder="Dépense" (ngModelChange)="rechercherDepenses()" step=".01">
    </div>
  </div>  
</form>

<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let depense"> {{formatterDate(depense.date)}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="libelle">
    <mat-header-cell *matHeaderCellDef> Dépense </mat-header-cell>
    <mat-cell *matCellDef="let depense"> {{depense.libelle}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="depense">
    <mat-header-cell *matHeaderCellDef> Coût </mat-header-cell>
    <mat-cell *matCellDef="let depense"> {{depense.depense}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let depense"> 
      <button class="btn btn-primary" (click)="openModalDepense(depense)">Modifier</button>
      <button class="btn btn-danger" (click)="supprimerDepense(depense)">Supprimer</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[10, 2, 10]" showFirstLastButtons></mat-paginator>