@if(!loading){
    <h1>Les tâche du jour</h1>
    <div class="example-container">
        <h5>A faire</h5>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of todo; track item) {
            <div class="example-box" cdkDrag [cdkDragData]="item">{{item.service.nom}}</div>
          }
        </div>
      </div>
      
      <div class="example-container">
        <h5>Terminées</h5>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
            <div class="example-box" cdkDrag [cdkDragData]="item">{{item.service.nom}}</div>
          }
        </div>
      </div>
}
@else{
    <ngx-skeleton-loader count="5" appearance="line" />
}
