@if(!loading){
    <h1>Les tâche du jour</h1>
    <p><b>Commission: </b>{{commission}} MGA</p>
    <div class="example-container">
        <h5>A faire</h5>
      
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of todo; track item) {
            <div style="padding: 10px;" cdkDrag [cdkDragData]="item">
              <p><b>{{item.service.nom}}</b></p>
              @if(item.client){
                <p><b>Client: </b>{{item.client.nom}} {{item.client.prenom}}</p>
              }
              <p>{{formatterDate(item.dateheuredebut)}}</p>
            </div>
          }
        </div>
      </div>
      
      <div class="example-container">
        <h5>Terminées</h5>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
            <div style="padding: 10px;" cdkDrag [cdkDragData]="item">
              <p><b>{{item.service.nom}}</b></p>
              @if(item.client){
                <p><b>Client: </b>{{item.client.nom}} {{item.client.prenom}}</p>
              }
              <p>{{formatterDate(item.dateheuredebut)}} de {{formatterTime(item.dateheuredebut)}} à {{formatterTime(item.dateheurefin)}}</p>
            </div>
          }
        </div>
      </div>
}
@else{
    <ngx-skeleton-loader count="5" appearance="line" />
}
