<!-- user-edit-modal.component.html -->
<form (ngSubmit)="updateUser()">
    <label for="nom">Nom</label>
    <input
      type="text"
      id="nom"
      [(ngModel)]="editedUser.nom"
      name="nom"
      required
    />
  
    <label for="prenom">Prénom</label>
    <input
      type="text"
      id="prenom"
      [(ngModel)]="editedUser.prenom"
      name="prenom"
      required
    />
  
    <label for="mail">Email</label>
    <input
      type="email"
      id="mail"
      [(ngModel)]="editedUser.mail"
      name="mail"
      required
    />
  
    <label for="mdp">Mot de passe</label>
    <input
      type="password"
      id="mdp"
      [(ngModel)]="editedUser.mdp"
      name="mdp"
      required
      minlength="8"
    />
  
    <label for="role">Rôle</label>
    <input
      type="number"
      id="role"
      [(ngModel)]="editedUser.role"
      name="role"
      required
    />
  
    <button type="submit">Modifier</button>
  </form>