<h2 mat-dialog-title>Ajouter une indisponibilité</h2>
    
<mat-dialog-content>
  <div >
    <mat-form-field appearance="fill">
      <mat-label>Date et heure de début</mat-label>
      <input matInput type="datetime-local" [(ngModel)]="data.startDateTime" placeholder="Sélectionner une date et heure">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Date et heure de fin</mat-label>
      <input matInput type="datetime-local" [(ngModel)]="data.endDateTime" placeholder="Sélectionner une date et heure">
    </mat-form-field>
  </div>
  <p style="color: red;">{{errorMessage}}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelClick()">Annuler</button>
  <button mat-button color="primary" (click)="onSaveClick()">Enregistrer</button>
</mat-dialog-actions>