    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap"  >
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item" >
              <a class="sidebar-link" aria-expanded="false" routerLink="/manager/dashboard">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item" >
              <a class="sidebar-link" aria-expanded="false" routerLink="/manager/offreSpecial" >
                <span>
                  <i class="ti ti-calendar"></i>
                </span>
                <span class="hide-menu">Offre spéciales</span>
              </a>
            </li>
            <li class="sidebar-item" >
                <a class="sidebar-link" aria-expanded="false" routerLink="/manager/user">
                  <span>
                    <i class="ti ti-user"></i>
                  </span>
                  <span class="hide-menu">Employes</span>
                </a>
            </li>
            <li class="sidebar-item" >
                <a class="sidebar-link" aria-expanded="false" routerLink="/manager/accueil">
                  <span>
                    <i class="ti ti-layout-grid"></i>
                  </span>
                  <span class="hide-menu">Services</span>
                </a>
            </li>
            <li class="sidebar-item" >
                <a class="sidebar-link" aria-expanded="false" routerLink="/manager/depense">
                  <span>
                    <i class="ti ti-layout-grid"></i>
                  </span>
                  <span class="hide-menu">Depenses</span>
                </a>
            </li>
            <li class="sidebar-item" >
              <a class="sidebar-link" aria-expanded="false" (click)="logout()" >
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Deconnexion</span>
              </a>
          </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
   
      